input:invalid {
    border: 1px solid red;
}
input:valid {
    border: 1px solid #ccc; /* Add custom styles for valid input */
}

    

/* Styling of product */
.free-delivery{
    color: #8b2727;
}
#checkout-page{
    background-color: #f5f5f5;
    padding: 2rem;
    grid-column-start: 2;
    grid-row-start: 1;
    padding: 4.8rem 6.4rem;
    border-radius: 12px;
}
#checkout-page h1{
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.product-item-checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
.checkout-img{
    height: 6.4rem;
    width: 6.4rem;
}
.checkout-title{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.6rem;
}
.checkout-prod-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.checkout-info-prod{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
}
.checkout-info-prod p{
    display: inline-block;
    font-size: 1.2rem;
}
.checkout-info-prod p span{
    font-weight: 600;
}


.price-container{
    font-size: 1.8rem;
    margin-top: 0.6rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    
}
.price-container div:nth-child(2){
    color: #b23232;
    font-weight: 600;
    
}
.price-container div p:last-child{
    margin-top: 2.4rem;
}
/* form */
.form-product-list{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.4rem;
    margin: 4.8rem 6.4rem;
}
.no-item{
    font-size: 2.4rem;
    color: red;
    font-weight: 500;
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.form-tot{
    grid-column-start: 1;
    grid-row-start: 1;

}

.checkout-h1{
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom:0.6rem;
}

.cantact-info,.shipping-info{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 2.4rem;
}

.cantact-info input,.shipping-info input{
    width: 98%!important;
    
    margin-left: 1.2rem;
    border: 1px solid #ccc;
    height: 3.6rem;
    font-size: 1.8rem;
}
.cantact-info input::placeholder,.shipping-info input::placeholder{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.2rem;
}

.select-custom {
    width: 98%!important;
    height: 3.6rem!important;
    font-size: 1.8rem;
    margin-left: 1.2rem;
    
    padding:0 0 0 1.2rem;
    color: #817c77;
}
/* payment breakdown */
.payment-breakdown{
    background-color: #f5f5f5;
    padding: 2rem ;
    border-radius: 12px;
    margin-bottom: 2.4rem;   
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.break-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.b-text{
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
}
.b-total{
    font-size: 2.4rem;
    color: #b23232;
    font-weight: 600;
}
.b-head{
    font-size: 1.8rem;
    font-weight: 500;
}

.breakdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}
.breakdown p{
    margin: 0;;
}
.b-h,
.purpose,
.b-ship{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.b-h{
   font-weight: 500;
}

.b-purpose-total,
.b-ship-total{
    font-weight: 500;
    color: #b23232;
}

.b-foot{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}
.b-foot span{
    font-weight: 600;
    color: #b23232;
}

.payment-container{
    display: flex;
    align-items: center;
    gap: 1.8rem;
    margin-bottom: 2.4rem;
    margin-top: 1.8rem;
}
.pay-radio{
    display: flex;
    align-items: center;
    gap: 1.8rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    padding-left: 1.8rem;
    border-radius: 7px;
}

.pay-radio label img{
    height: 3.4rem;
    
    margin-right: 1rem;
}
.pay-radio .form-check-input {
    /* Increase the radio button size */
    height: 10px;
    width: 10px;
  }

  .form-foot-t{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.6rem;
        margin-bottom: 2.4rem;
  }
  .form-check-input{
    height: 1.2rem;
    width: 1.2rem;
  }
  .form-foot-text{
        font-size: 1.8rem;
  }

  .confirm-btn{
    width: 100%;
    font-size: 1.6rem;
  }