main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 3.6rem 0 3.6rem;
    margin-top: 1.8rem;
    color: #555;
}
.contact-header{
    font-size: 4.2rem;
    text-align: center;
}
.pct-1{
    padding-left: 0!important;
}
.contact-text-1{
    font-size: 1.8rem;
    margin-top: 1rem;
    padding-left: 3.6rem;
    padding-right: 3.6rem;
}
.contact-sub-header{
    font-size: 3.2rem;
    margin-top: 1.8rem;
   
}
.contact-sub-header-2{
    font-size: 2.4rem;
    margin-top: 1.8rem;
    padding-left: 2.4rem;
    
}
.contact-text-2{
    font-size: 1.6rem;
    margin-top: 1rem;
    padding-left: 4.2rem;
    padding-right:4.2rem;
}
em{
    font-size: 1.4rem;

}

.contact-link{
    text-decoration: none;
    color:#c63837;
    font-weight: 500;

}

.contact-link:hover{
    text-decoration: underline;
    color:#c63837 ;
    font-weight: 600;
}

.contact-links{
    text-decoration: none;
    color:#c63837 ;
    font-weight: 500;
}
.contact-links:hover{
    text-decoration: underline;
    color:#c63837 ;
    font-weight: 600;
}


.cancel-list{
    font-size: 1.6rem;
    margin-top: 1rem;
    padding-left: 4.2rem;
    padding-right:4.2rem;
    margin-left: 3.6rem;
    
    color: black;
}
.cancel-list li{
    line-height: 1.5;
    margin-bottom: 0.9rem;
}