

.faq-header{
    font-size: 4rem;
    font-weight: 500;
    color: #512323;
    margin: 2rem 8.6rem 2rem 8.6rem;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}

.faq-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin: 2rem 8.6rem 12.5rem 8.6rem;
    
}

.faq-section button{
    display: flex;
    align-items: center;

    padding: 0 2rem 0 2rem;
    font-size: 2.4rem;
    width: 100%;
    height: 7rem;
    background-color: #fff;
    color: #512323;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.faq-section button:hover{
   color: #c63837;
    
}
.ans-container{
    width: 100%;
    
}
.ans{
    padding-left: 2rem;
    font-size: 2rem;
    color:#772221;
    background-color: rgba(244, 215, 215, 0.406);
    box-shadow: 0 0.5rem 1rem rgba(244, 215, 215, 0.702);
    border: none;
    
}

