/* Product Card */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 59.5%;
  /* Smooth Scrolling */
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
}
html,
body {
  position: relative;
  height: 100%;
  font-size: 59.5%;
}

/* Swiper Card CSS */
/* .card-container {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 60vh;
  margin: auto 5rem;
} */

/* .product-card {
  width: 35rem;
  margin: 6.4rem auto;
  height: 60rem;
  border-radius: 10px;
} */

ul {
  list-style: none;
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
/* .product-img img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.product-img {
  height: 46rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.product-title {
  height: 5rem;
  line-height: 5rem;
  font-size: 1.4rem;
  text-align: center;
  background-color: #f9f9f9;
}
.product-price {
  height: 4rem;
  line-height: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  background-color: #eeeeee;
}
.product-bag {
  font-size: 1.8rem;
  height: 5rem;
  background-color: #333;
  color: #f5f5f5;
  text-align: center;
  line-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
} */

.card-icon {
  font-size: 2rem;
}

html,
body {
  position: relative;
  height: 100%;
  font-size: 59.5%;
}

body {
  background: #fff;
}

/* Slider */
.splide__arrow {
  font-size: 24px; /* Change the arrow size as desired */
  background-color: #eee; /* Change the background color of the arrows */
  color: #000000; /* Change the color of the arrow icons */
  border-radius: 50%; /* Make the arrows circular (remove for square arrows) */
  border: 1px solid #040404; /* Add a grey border */
}
.splide__pagination__page{
  background:#fff;
  border: 1px solid #040404;
  height: 1rem;
  width: 1rem;
}
.splide__pagination__page.is-active {
  background: #040404;
  border: 1px solid #ffffff;
  transform: scale(1.5);
}

#splidePremium .splide__pagination,#splideWinter .splide__pagination{
  display: flex;
}

/* Section Tiile Button CSS */
.title-btn-container {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6.4rem 6rem 0 6rem;
}

.title {
  font-size: 3.6rem;
  font-weight: 600;
  color: #333;
}
.btn-shop-all {
  display: flex;
  width: 22.5rem;
  height: 7.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9px;
  background: #333;
  color: #fff;
  border: 3px solid #333;
  transition: all 0.4s ease-in-out;
}
.btn-shop-all:link,
.btn-shop-all:active {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
}
.btn-shop-all:hover {
  background-color: #fff;
  color: #333;

}
.line-black {
  width: 100%;
  height: 0.5px;
  background-color: #333;
  margin: 0 auto;
}

/* ---------------------------------------------- */
/* Modal Cart Window Styles */
/* ---------------------------------------------- */
/* MAin Structure */
/* FUll */
.cart-product-modal-container {
  width: 70rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: #fff;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  pointer-events: none;
}
body.modal-open {
  overflow: hidden;
}

/* Header */
.cart-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  background-color: #cc4c4b;
  color: #fff;
  padding: 0.6rem;
}
.cart-product-header-text {
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 2.4rem;
  margin-bottom: 0 !important;
}

.cart-product-modal-icon {
  font-size: 2.4rem;
  margin-right: 2.4rem;
  cursor: pointer;
}

/* Main  */
.cart-product-modal {
  display: flex;
  gap: 2.4rem;
  margin: 2.4rem 2.4rem 0 2.4rem;
}
.cart-product-img img {
  height: 24rem;
}
.cart-product-title p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1.2rem;
}

.cart-product-price {
  font-size: 1.6rem;
  color: #333;
  font-weight: 500;
  margin-top: 1.2rem;
}

/* FOr Size */
.order-option {
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
}
.size-select-text {
  font-size: 1.6rem;
  font-weight: 500;
}
.size-selectors-container {
  list-style: none;
  padding: 0;
  font-size: 1.6rem;
}

.size-selector {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #333;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.size-selector.selected {
  background-color: black;
  color: white;
}

/* For Quantity */
.quantity-selection {
  margin-bottom: 2.4rem;
}
.cart-product-quantity-text {
  margin-bottom: 1rem;
}
.number-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.input-field {
  height: 3.2rem;
  width: 8.6rem;
  text-align: center;
  font-size: 1.6rem;
}

.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-field[type="number"] {
  -webkit-appearance: textfield; /* Safari */
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Safari */
}

.plus-btn,
.minus-btn {
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minus-btn:hover,
.plus-btn:hover {
  background-color: #555;
}
.quantity-selection {
  display: flex;
  gap: 2.4rem;
}

.add-product-bag {
  font-size: 1.6rem;
  height: 3.4rem;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  padding: 0 1.6rem;
}
.add-product-bag:hover {
  background-color: #fff;
  color: #333;
}
.product-card-icon {
  font-size: 2rem;
}

/* Footer */
.cart-product-hr {
  width: 100%;
  height: 1px;
  background-color: #333;
}
.cart-product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 0 2.4rem 1.2rem 2.4rem;
}

.cancel-modal-button {
  font-size: 1.6rem !important;
  font-weight: 500;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 0.3rem;
}




/* ========================= */
/* BAG CSS */
/* ========================= */
.bag-hr {
  margin: 0 !important;
  width: 100%;
  height: 1px;
}
.bag-header {
  background-color: #222;
}
.bag-title-cart {
  font-size: 1.8rem;
  font-weight: 500;
  color: #f3f3f3;
}
.btn-bag-close {
  font-size: 3.6rem;
  font-weight: 700;
  cursor: pointer;
  color: #9e2d2c;
}

/* Header */
.bag-canvas-body-container {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  height: 100%;

}
.bag-canvas-body{
  /* overflow-y: auto;
  height: calc(100% - 50px); */
  display: grid;
  grid-template-rows: 1fr 3.6rem;
}
.bag-render-wrapper{
  /* overflow-y: scroll;
  height: fixed; */
  margin-bottom: 1.2rem;
  flex-grow: 1;
  overflow-y: auto;
}
.bag-product-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #fff;
  border-radius: 7px;
}
.bag-product-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  margin: 0.6rem 0.6rem 0.6rem 1.2rem;
}


/* Main */
.bag-item{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 1.8rem;
}
.bag-item-content-wrapper{
  display: flex;

}
.bag-item-details{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1.4rem;
  flex-grow: 1;
}
.bag-item-details p{
  margin-bottom: 0 !important;
}

.bag-item-title {
  font-size: 1.6rem;
  font-weight: 500;
}

.bag-item-size,
.bag-item-quantity,
.bag-item-price {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.bag-item-img img{
  width: 14rem;
  height: 14rem;
  padding: 0.6rem;
}
.bag-item-footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 2.4rem;
  
}
.bag-item-subtotal{
  background-color: #444;
  height: 100%;
  padding: 0.6rem;
  color: #fff;
  display: flex;
  align-items: center!important;
  justify-content: center;
  
}
.bag-item-subtotal p{
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0 !important;
}
.bag-item-subtotal span{
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 0.5rem;
}
.bag-item-delete{
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  width: 100%;
  padding: 0.6rem;
  justify-self: center;
  text-align: center;
  cursor: pointer;
  background-color: #c63737;
  border: 1px solid #c63737;
}
.bag-item-delete:hover{
  color: #c63737;
  background-color: #fff;
  
  transition: all 0.3s ease-in-out;
}


/* Footer */
.bag-product-footer {
  height: 6rem;
  background-color: #fff;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bag-total {
  width: 100%;
  font-size: 1.6rem;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 0 !important;
}
.bag-total p:nth-child(1) {
  font-weight: 500;
}
.bag-total p {
  margin-bottom: 0 !important;
}
.bag-total-price {
  font-weight: 500;
}
.bag-checkout-link:link,.bag-checkout-link:active{
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* padding: 1.2rem 2.4rem; */
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  border: 1px solid #333;
  transition: all 0.25s ease-in-out;
}
.bag-checkout-link:hover {
  background-color: #fff;
  color: #c63737;
  border: 1px solid #c63737;
}

