.new-arrival-title{

    margin: 2.4rem 2.4rem 0 6.8rem;
    display: flex;
}

.new-arrival-title h1{
    font-size: 3.6rem;
    font-weight: 600;
    color: #333;
}

.new-arrival-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 0rem;
    margin-bottom: 2.4rem;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;}

  .pagination .page-link {
    font-size: 1.8rem;
    color: #280b0b; /* custom color */
  }

  .custom-pagi{
    gap: 1rem;
  }
  .active-s a:link, .active-s a:visited {
    background-color: #c63837!important;
    color: #fff!important;
  }
  .pagination .page-item {
    margin: 0;
    padding: 0;
  }
  
  .pagination .page-link {
    margin: 0 5px; /* Adjust the margin values as per your preference */
    padding: 5px 10px; /* Adjust the padding values as per your preference */
  }
  .page-link:hover{
    background-color: #f4d7d7;
    color: #c63837;
  }


  /* Modal Styles */
.modal-search {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.4); */
  }
  
  .modal-content-search {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 1000px;
    max-width: 400px;
    width: 90%;
  }
  
  .close-search {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close-search:hover,
  .close-search:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
