/* ----------------------------------- */
/* -Header Section- */
/* ----------------------------------- */

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 5rem;
  transition: all 0.3s ease-in-out;
}

.main-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
}
/* Helper Class */
.margin-left{
  margin-left: 6.4rem;
}
.margin-right{
  margin-right: 6.4rem;
}
/* ------- */

.header-logo {
  height: 4rem;
}

.search-bag-container {
  width: 9.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icon {
  font-size: 3.6rem;
  color: #c63837;
  font-weight: 500;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}


.Navbar {
  height: 5rem;

  background: rgba(198, 56, 55, 0.2);
  /* margin-top: auto;
    margin-bottom: auto; */
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
}
nav ul {
  list-style: none;
  display: flex;
  gap: 9.6rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav-link{
  color: #c63837 !important;
}
.nav-link:link,
.nav-link:active {
  text-decoration: none;
  color: #c63837 !important;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover {
  color: #c63837;
  transform: scale(1.05);
}

/* CArt */
.cart-number-badge{
  font-size: 1.2rem;
  font-weight: 400;
  font-family: Rubik;
}
/* ------------------------- */
/* Off Canvas Menu */
/* ------------------------- */
/* .offcanvas {
  max-width: 400px; /* Customize the width as per your requirements 
} */
.canvas-links{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 4.8rem;
  align-items: center;
}
.canvas-links-link{
  color: #C63837
}
.canvas-links-item .canvas-links-link:link,
.canvas-links-item .canvas-links-link:active {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #C63837!important;
}
.canvas-links .canvas-links-item:hover .canvas-links-link:hover{
  color: #C63837;
}
.canvas-links-item{
  transition: all 0.3s ease-in-out;
}
.canvas-links-item:hover{
  transform: scale(1.1);
}

.btn-close-custom{
  font-size: 3.6rem;
  color: #C63837!important;
  /* color: #fff; */
  cursor: pointer;
}
.search-box-input {
  width: 25rem;
  height: 3.5rem; 
  padding:0.5rem; 
  font-size: 1.6rem; 
  border: 1px solid rgba(198, 55, 55, 0.5);
  border-radius: 5px; 
  color: #333; 
}

.search-box-input::placeholder {
  color: rgba(198, 55, 55, 0.5); 
}
.search-box{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.search-box-btn {
  border: none;
  background-color: rgba(198, 55, 55, 0);
}

.search-box-icon {
  font-size: 2.4rem;
  color: rgb(199, 56, 56);
}



/* Search Modal Styles */
.modal-search2 {
  display: none;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* position: relative; */
  /* background-color: rgba(0, 0, 0, 0.4); */
}
.search2{
  padding:0.5rem; 
  height: 2.8rem;
  font-size: 1.6rem; 
  border: 1px solid rgba(198, 55, 55, 0.5);
  border-radius: 5px; 
  color: rgba(198, 55, 55, 0.873); 
}
.search2::placeholder{
  color: rgba(198, 55, 55, 0.518)!important; 
}

.modal-content-search2 {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 1.6rem;
  border: 1px solid rgba(198, 55, 55, 0.873);;
  max-width: 400px;
  width: 90%;
  border-radius: 2rem;
  position: absolute;
  right: 5%;
  top: -5%;
}


.modal-body-search2 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 6.4rem 5rem;
  gap: 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.search2-button {
  padding: 0.5rem 1.2rem;
  border: none;
  background-color: rgba(198, 55, 55, 0.873);
  color: #fff;
  border-radius: 7px;
  font-size: 1.2rem;
  height: 2.8rem;
  display:flex;
  align-items: center;
  justify-content: center;
}
.search2-button:hover{
  background-color: rgb(198, 55, 55);
}

/* Close Button Styles */
.close-search2 {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  justify-self: end;
}

.close-search2:hover,
.close-search2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





/* ----------------------------------- */
/* Hero  Section- */
/* ----------------------------------- */

.hero {
  display: grid;
  /* place-items: center; */
  
}
.hero-img{
  /* height: 80rem; */
  width: 100%;
}
.hero-text-container {
  /* text-align: center;  */
  position: absolute; 
  top: 18%; 
  left: 2%; 
  right: 0; 
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-text {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  gap:3.6rem;
  /* margin-left: 6.4rem;
  margin-top: 6.4rem; */
}
.heading-hero {
  font-style: normal;
  font-weight: 500;
  font-size: 6.4rem;
  line-height: 1.4;
  padding: 0;
  /* letter-spacing: 0.03rem; */
  color: #333;
  /* text-transform: uppercase; */
  margin-bottom: 0;
}
.subheading-hero {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #333;
  margin: 0;
}
.hero-title {
  font-weight: 600;
}
.buttons-hero {
  display: flex;
  gap: 2.4rem;
}
.btn-hero {
  /* background-color: #333;
  color: #f5f5f5;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 0.8rem;
  border: none;
  
  transition: all 0.3s ease-in-out; */
  display: flex;
  width: 20rem;
  height: 6.6rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1.5rem; 
  text-align: center;
  font-size: 2.4rem;
  font-family: Rubik;
  font-weight: 500;
  cursor: pointer;
}
.btn-getStarted{
  background: #111;
  color: #f9ebeb;
  border: 1px solid #111;
  transition: all 0.3s ease-in-out;
}
.btn-getStarted:hover{
  background: #f9ebeb;
  color: #111;
  border: 1px solid #111;
}

.btn-learn{
  display: none;
  opacity: 0;
  background: #f9ebeb;
  color: #111;
  border: 1px solid #f9ebeb;
  transition: all 0.3s ease-in-out;
}
.btn-learn:hover{
  background: #111;
  color: #f9ebeb;
}
.buttons-hero a:link,
.buttons-hero a:active {
  text-decoration: none;
}
.return-link {
  display: flex;
  gap: 1.2rem;
  align-items: center;

}
.hero-icon {
  font-size: 2.4rem;
  color: #666;
  font-weight: 400;
}
.return-link span{ 
  font-size: 2rem;
  color: #666;
}


/* ----------------------------------- */
/* New Arrival  Section- */
/* ----------------------------------- */


/* .card-container{
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 60vh;
  margin: auto 5rem;

} */
.custom-pagination {
  position: absolute !important;
  bottom: 10% !important;
  right: 10px !important;
}



.product-card{
  width: 35rem;
  margin :6.4rem auto;
  height: 52rem;   
  border-radius: 10px;
  
}


.product-img img:hover{
  transform: scale(1.21);
  transition: all 0.5s ease-in-out;
}
.product-img img{
  height: 100%;
  width: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-img{
  height: 40rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.product-title{
  height:5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  background-color: #f9f9f9;
}
.product-price-cut{
  margin-bottom: 0!important;
  font-size: 1.4rem;
  display: inline-block;
  color: red;
  text-decoration: line-through;
  margin-right: 0.6rem;
}

.product-price{
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  background-color: #eeeeee;
}
.product-bag{
  font-size: 1.8rem;
  height: 4.5rem;
  background-color: #333;
  color:#f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.card-icon{
  font-size: 2rem;
}




  .swiper {    
    width: 90%;
    height: 70rem;
    margin-left: auto;
    margin-right: auto;
  }

  
/* 
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */






  /* ----------------------------------- */
/* Footer Arrival  Section- */
/* ----------------------------------- */

.footer-section{
  margin-top: 12.5rem;
  background-color: #000;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container{
  display: flex;
  gap:12.8rem;
  align-items: center;
  color: #f5f5f5;
  font-size: 2.4rem;
}
.footer-container a:link,.footer-container a:active{
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}
.footer-list-item{
  transition: all 0.4s ease-in-out;
}
.footer-link{
  color: #f5f5f5;
  transition: all 0.2s ease-in-out;
  
}
.footer-list-item .footer-link:hover {
  color: #C63837;
}


.footer-list-item:hover{
  transform: translateX(1rem);
}
.socials-Home{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  
}
.socials-logo img{
  
  height: 4.2rem;
  cursor: pointer;
}
.social-container{
  display: flex;
  gap: 2.4rem;
}
.social-link{
  font-size: 3.6rem;
  color: #f5f5f5;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.social-link:hover{
  color: #fff;
  transform: scale(1.3);
}
.copyright-text{
  font-size: 1.6rem;
  color: rgba(238, 238, 238, 0.792);
  font-weight: 400;
  margin-top: 4.2rem;
}